.macrosOverview__Container__Mobile{
    display: flex;
    margin-top: 5px;
    min-width: 100%;
    justify-content: center;
    gap: 20px 45px;
    font-size: 1.1rem;
}

.macrosOverview__Values__Mobile{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.macrosOverview__Tilte{
    flex: 1

}