.CaloriesOverview__Container__Mobile{
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: right;
    font-size: 1.1rem;
}

.CaloriesOverview__Container__Desktop{
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: right;
    font-size: 1.1rem;
}

